/* ordre proprietes : 1.background & fonts 2.flexbox 3.position 4.height & width 5.padding & margin */
body{
    background-color: #0D1520;
    color: #C2E6FF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    gap: 40px;

    padding: 15px 100px 0 0;
}

header{
    background-color: #0D1520;
    font-size: larger;

    height: 60px;
}

.top-page{
    background-color:#0D2847;
    display: flex;

    height: 400px;
    padding: 20px 60px 50px 80px;
 }

h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 65px;
    font-style: normal;
    text-shadow: 2px 1px 1px #111927;

    position:absolute;
    width: 50%;
}

.schema {
    position:absolute;
    margin-top: 60px;
    left: 50%;
}

#chiffres {
    text-align: justify;
    background-color:#0D2847 ;

    display: flex;
    justify-content: space-around;

    padding: 50px 50px 100px 50px;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    width: 80%;
    margin: 100px;
}

.water-level-history{
    width: 50%;
}

#gauges {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin: 30px 0px 0px 60px;
}

.gauge {
    background-color: #003362;
    border-radius: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    
    display: block;
    position: relative;
    
    height: 300px;
    width: 25%;
}

/* Remplissage de bas en haut */
.gauge-filling {
    background: linear-gradient( #70B8FF, #3B9EFF);
    color: transparent;
    border-radius: 0px 0px 20px 20px;
    animation: animate 4s ease-in-out infinite; /*vagues*/   
    transition: all 0.3s linear 0s;

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 300px;
}

@keyframes animate
{
    0%,100%
    {
        clip-path: polygon(0 2%, 7% 2%, 15% 1%, 24% 0, 33% 0, 44% 1%, 55% 1%, 63% 2%, 72% 2%, 83% 1%, 92% 2%, 100% 3%, 100% 100%, 0 100%);
        /* pour lettres - clip-path: polygon(0 13%, 9% 23%, 19% 36%, 36% 49%, 58% 55%, 84% 52%, 95% 41%, 100% 34%, 99% 99%, 0% 99%); */
    }
    50%
    {
        clip-path: polygon(0% 0%, 6% 1%, 15% 3%, 22% 3%, 33% 2%, 41% 1%, 50% 0, 61% 1%, 71% 2%, 80% 3%, 89% 3%, 100% 1%, 100% 100%, 0 100%);
        /* clip-path: polygon(0 45%, 9% 52%, 23% 59%, 46% 66%, 62% 62%, 76% 56%, 87% 56%, 100% 63%, 99% 99%, 0% 99%); */ 
    }
}

 .gauge-text{
    color: transparent;
    text-align: center;

    margin: 0px;
    height: 100%;

    padding: 100% 30% 0px 30px;
 }

 .gauge:hover .gauge-filling {
    opacity: 0.3;
}

 .gauge:hover .gauge-text {
    color: white;
}

#legends{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    margin-left: 60px;
}

#map{
    width:50%;
 }


.interpretation {
    background-color: #0D2847;
    text-align: justify;

    padding: 20px 100px 70px 100px;
    margin-top: 135px;
}

h2 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 100;
    font-size: 35px;
    font-style: normal;
}

a{
    color: #C2E6FF;
}

