body{
    background-color: #0D2847;
    color: #C2E6FF;

    margin-left: 80px;
    margin-right: 80px;
    margin-top: 50px;
    margin-bottom: 80px;
}

h1{
    font-size: 45px;
    text-align: center; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 2px 1px 1px #111927;
}

p{
    text-align: justify;

    margin: 70px;
}

.container{
    display: flex;
    flex-direction: row;
    
    width: 80%;
    margin-left: 70px;
}

.water-level-history{
    width: 50%;

}

#gauges {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 60px;

    margin-top: 30px;
}

.gauge {
    background-color: #003362;
    border-radius: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
    0 2px 2px rgba(0,0,0,0.12), 
    0 4px 4px rgba(0,0,0,0.12), 
    0 8px 8px rgba(0,0,0,0.12),
    0 16px 16px rgba(0,0,0,0.12);
    
    position: relative;
    display: block;
    height: 300px;
    width: 18%;
}

/* Remplissage de bas en haut */
.gauge-filling {
    background: linear-gradient( #70B8FF, #3B9EFF);
    color: transparent;
    border-radius: 0px 0px 20px 20px;
    animation: animate 4s ease-in-out infinite; /*vagues*/   
    transition: all 0.3s linear 0s;

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 300px;
}

@keyframes animate
{
    0%,100%
    {
        clip-path: polygon(0 2%, 7% 2%, 15% 1%, 24% 0, 33% 0, 44% 1%, 55% 1%, 63% 2%, 72% 2%, 83% 1%, 92% 2%, 100% 3%, 100% 100%, 0 100%);
        /* pour lettres - clip-path: polygon(0 13%, 9% 23%, 19% 36%, 36% 49%, 58% 55%, 84% 52%, 95% 41%, 100% 34%, 99% 99%, 0% 99%); */
    }
    50%
    {
        clip-path: polygon(0% 0%, 6% 1%, 15% 3%, 22% 3%, 33% 2%, 41% 1%, 50% 0, 61% 1%, 71% 2%, 80% 3%, 89% 3%, 100% 1%, 100% 100%, 0 100%);
        /* clip-path: polygon(0 45%, 9% 52%, 23% 59%, 46% 66%, 62% 62%, 76% 56%, 87% 56%, 100% 63%, 99% 99%, 0% 99%); */ 
    }
}

.gauge:hover .gauge-filling {
    opacity: 0.3;
}

.legends{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;

}

#map{
    width:50%;
 }

 .interpretation{
    margin-left: 70px;
    margin-top: 60px;
 }



 /* tests pour mettre pourcentage au survol de la jauge : 
 TO DO : le créer automatiquement dans js et relier à api (puis supp la jauge en trop)*/
 .gauge-text{
    color: transparent;
    text-align: center;

    margin: 0px;
    height: 100%;
    padding-top: 100%;
    
 }

 .gauge:hover .gauge-text {
    color: white;
}

